# requirements.txt
tensorflow
numpy
pandas
matplotlib
scikit-learn
scikit-image
opencv-python
pillow
requests
beautifulsoup4
tqdm
keras
h5py
tensorflow-addons
tensorflow-datasets
tensorflow-hub
tensorflow-io
imageio
imageio-ffmpeg
pydub
librosa
soundfile
pandas-profiling
seaborn
plotly
altair
statsmodels
scipy
jupyterlab  
ipywidgets
notebook
ipython
jupyter
jupyter-console